.view-container {
    position: fixed;
    inset: 60px 20px auto auto;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
}

.canvas-view {
    margin: 0 auto;
    cursor: pointer;
}
