body {
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    width: calc(100% - 60px);
    top: 0;
    z-index: 10;
    height: 30px;
    text-align: center;
    padding: 15px 30px;
    font-size: 24px;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-label {
    width: 220px;
    text-align: left;
}

.field-container {
    padding: 60px 20px 20px 20px;
    position: relative;
}

.view-container {
    position: fixed;
    inset: 60px 20px auto auto;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
}

.canvas-view {
    margin: 0 auto;
}

.minimap {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.hidden {
    display: none;
}
