body {
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.coord-label {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 30px;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    background: #fff;
}

.field-container {
    padding: 60px 20px 20px 20px;
    position: relative;
}

.view-container {
    position: fixed;
    inset: 60px 20px auto auto;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
}

.canvas-view {
    margin: 0 auto;
}
