body {
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

#app {
    margin: 20px auto;
    width: fit-content;
}

.coord-label {
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.field-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
}

.hidden {
    visibility: hidden;
    display: none;
}